#cloud-config
hostname: k8s-cp-02
manage_etc_hosts: true

users:
  - name: root
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIctgwbl2oQ1lMqeSwxLm4NcDRGr3PS258y6zVmLkJnK

write_files:
  - path: /etc/sysctl.d/99-kubernetes.conf
    permissions: "0644"
    owner: root:root
    content: |
      net.ipv4.ip_forward=1
      net.bridge.bridge-nf-call-iptables=1
      net.bridge.bridge-nf-call-ip6tables=1

runcmd:
  - modprobe br_netfilter || true
  - sysctl --system
