#cloud-config
hostname: __HOSTNAME__
manage_etc_hosts: true

users:
  - name: root
    ssh_authorized_keys:
      - __ROOT_SSH_PUBLIC_KEY__
  - name: ansible
    shell: /bin/bash
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - __ANSIBLE_SSH_PUBLIC_KEY__

write_files:
  - path: /etc/sysctl.d/99-kubernetes.conf
    permissions: "0644"
    owner: root:root
    content: |
      net.ipv4.ip_forward=1
      net.bridge.bridge-nf-call-iptables=1
      net.bridge.bridge-nf-call-ip6tables=1

runcmd:
  - modprobe br_netfilter || true
  - sysctl --system
