#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: root
    ssh_authorized_keys:
      - ${root_ssh_public_key}
  - name: ansible
    shell: /bin/bash
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ansible_ssh_public_key}

write_files:
  - path: /etc/sysctl.d/99-kubernetes.conf
    permissions: "0644"
    owner: root:root
    content: |
      net.ipv4.ip_forward=1
      net.bridge.bridge-nf-call-iptables=1
      net.bridge.bridge-nf-call-ip6tables=1

runcmd:
  - modprobe br_netfilter || true
  - sysctl --system
